.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h2.margin-top0 The Title of this section goes here
    %p
      Short paragraph of several sentences of bullets and key points that you want to make. This can be multiple lines and is intended to describe the key points that are made in the video that is shown on the other side of this panel.
  .grid-item
    / --- Play video or show an image
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/wmtZKC8m2ew", :width => "560"}
